{% extends 'autoramos/base.html' %***REMOVED***

{% block title %***REMOVED***FAQ{% endblock title %***REMOVED***

{% block body %***REMOVED***
<!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <ol class="list-group list-group-flush rounded">
            <li class="list-group-item">
                <h1 class="mb-1">FAQ</h1>
            </li>
    ***REMOVED***% for qa in faq %***REMOVED***
            <li class="list-group-item">
                <h3 class="mb-1">{{ qa.pregunta ***REMOVED***</h3>
                <p class="mb-4">{{ qa.respuesta ***REMOVED***</p>
            </li>
    ***REMOVED***% endfor %***REMOVED***
        </ol>
    </div>
</header>
{% endblock body %***REMOVED***