{% extends 'autoramos/base.html' %***REMOVED***

{% block title %***REMOVED*** Home {% endblock title %***REMOVED***

{% block body %***REMOVED***
<!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Auto Ramos Web</h1>
        <h3 class="mb-5"><em>Olvidate del estrés de tomar ramos y déjaselo a un bot</em></h3>
    ***REMOVED***% if user.is_authenticated %***REMOVED***
            <a class="btn btn-primary btn-xl" href="{% url 'reserva_ramos' %***REMOVED***">Empezar</a>
    ***REMOVED***% else %***REMOVED***
            <a class="btn btn-primary btn-xl" href="{% url 'register' %***REMOVED***">Empezar</a>
    ***REMOVED***% endif %***REMOVED***
    </div>
</header>
{% endblock body %***REMOVED***
