figure.profile {
    display: inline-block;
    width: 180px;
    background-color: white;
    margin: .5rem;
***REMOVED***

figure.profile > figcaption{
    text-align: center;
    color: black;
  ***REMOVED***

.github-image {
    width: 150px;
    padding-top: 1rem;
    padding-bottom: .5rem;
***REMOVED***